{%  extends "base.html" %}
{% load staticfiles %}
{% block head_title %}Blog{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="page-header">
                    Vincent Raia / Blog
                    <small>thoughts and code</small>
                </h1>
                {% block posts %}
                {% endblock %}
                <!-- Pager -->
                <ul class="pager">
                    {% if posts.object_list and posts.paginator.num_pages > 1 %}
                    <li class="next">
                        {% if posts.has_next %}
                            <a href="?page={{ posts.next_page_number }}">Older &rarr;</a>
                        {% endif %}
                    </li>
                    <li class="previous">
                        {% if posts.has_previous %}
                            <a href="?page={{ posts.previous_page_number }}">&larr; Newer</a>
                        {% endif %}
                    </li>

                    {% endif %}
                </ul>
            </div>
            {% include 'blog_sidebar.html' %}
        </div>
    </div>
{% endblock %}
