{% extends "blog.html" %}

{% block posts %}
    <h2>
        {{post.title}}
    </h2>
    <b>Posted in</b> <a href="{{post.category.get_absolute_url}}">{{post.category.name}}</a>
    <!--Removing author tag
    <p class="lead">
        by <a href="index.php">Vincent Raia</a>
    </p>
    -->
    <p>
        <span class="glyphicon glyphicon-time"></span> <time datetime="{{post.created|date:"c"}}">{{post.created|date}}</time>
    </p>
    <!--Removing image
    <hr>
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>
    -->
    <p>
        {{post.content|safe}}
    </p>
    <b>Tagged as</b>
    {% for tag in post.tags.all %}
        {% if tag == post.tags.all.last %}
            <a href="{{tag.get_absolute_url}}">{{tag.name}}</a>
        {% else %}
            <a href="{{tag.get_absolute_url}}">{{tag.name}},</a>
        {% endif %}
    {% endfor %}
    <hr>
{% endblock %}